# ======================
# Visual Studio
# ======================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ======================
# Build results
# ======================
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

# ======================
# NuGet
# ======================
packages/
*.nupkg
.nuget/

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
Thumbs.db
Desktop.ini

# ======================
# Rider / VSCode
# ======================
.idea/
.vscode/

# ======================
# Test results
# ======================
TestResults/
